section {
    height: 31em;
}

.content {    
    text-align: center;
}

h2 {
    padding: 20px;
    font-size: 25px;
    color: rgb(78, 74, 74);
    border-style: none;
} 

.block {
    background: rgb(153, 18, 63);
    border-style: hidden;
    border-radius: 10px;
    max-width: 370px;
    height: 360px;
    padding: 10px;
    margin: auto;
}

input[type="textfield"] {
    border: none;
    border-radius: 5px;
    width: 330px;
    height: 65px;
    font-size: 35px;
    padding: 5px;
    margin: 10px;
    margin-bottom: 17px;
}

.numbers {
    width: 253px;
    display: inline-block;
}

.operators {
    width: 80px;
    display: inline-block;
} 

input[type="button"],
input[type="reset"] {
    border: none;
    border-radius: 3px;
    font-size: 30px;
    width: 75px;
    height: 55px;
    padding: 10px;
    margin: 3px;
}

@media only screen and (max-width: 600px) {
   .block {
        max-width: 270px;
        height: 465px;
        padding: 1px;
        clear: left;
    }

    input[type="textfield"] {
        width: 245px;
        margin-bottom: 10px;
    }

    .numbers, .operators {
        width: 251px;
        margin: 8px;
    }

    .numbers {
        position: relative;
        top: 120px;
    }

    .operators {
        position: relative;
        bottom: 262px;
    }

    .operators input[type="button"]:nth-child(4) {
        width: 245px;
    }

    footer {
        margin-top: 80px;
    }
} 
